{%extends 'basic.html'%}
{% block title %} About {% endblock %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Shopping Whopping !!</h1>
  <p class="lead">Building the future
We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. Amazonians are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.</p>
  <hr class="my-2">

  {% load static %}
  <img src='/static/aboutpic.png' style="width: 100%">
</div>  

{% endblock %}